<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<RunConfiguration>
		<EnvironmentVariables>
			<HOST>https://global.hitachi-solutions.com/</HOST>
			<SERVER_HOST>TBD</SERVER_HOST>
			<BROWSER>Chrome</BROWSER>
			<OPTIONS>--incognito</OPTIONS>
		</EnvironmentVariables>
	</RunConfiguration>
</RunSettings>