<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<RunConfiguration>
		<EnvironmentVariables>
			<HOST>https://biberk-apollo-dev.azurewebsites.net</HOST>
			<SERVER_HOST>https://bibaodev-fd.azurefd.net/api</SERVER_HOST>
			<AUT_KEYVAULT_URI>https://xbibaoazckv-dev.vault.azure.net/</AUT_KEYVAULT_URI>
			<KEYVAULT_URI>https://xbibaoazckv-automationqa.vault.azure.net/</KEYVAULT_URI>
			<BROWSER>Chrome</BROWSER>
		</EnvironmentVariables>
	</RunConfiguration>
</RunSettings>
