<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<RunConfiguration>
		<EnvironmentVariables>
			<HOST>https://biberk-apollo-qa2.azurewebsites.net</HOST>
			<SERVER_HOST>https://bibaoqa2-fd.azurefd.net/api/</SERVER_HOST>
			<AUT_KEYVAULT_URI>https://xbibaoazckv2-qa2.vault.azure.net/</AUT_KEYVAULT_URI>
			<KEYVAULT_URI>https://xbibaoazckv-automationqa.vault.azure.net/</KEYVAULT_URI>
			<RATABLEOBJECTMANAGEMENTFUNCTION_URL>https://bibaoqa2-ratableobject.azurewebsites.net/api/</RATABLEOBJECTMANAGEMENTFUNCTION_URL>
			<BROWSER>Chrome</BROWSER>
		</EnvironmentVariables>
	</RunConfiguration>
</RunSettings>

